# Environnements virtuels
.env/
.venv/
venv/

# Cache Python
__pycache__/
*.py[cod]

# Build & dist
build/
dist/
*.egg-info/

# Couverture et tests
coverage.xml
.coverage      #  ← oui, ignore le fichier binaire sqlite
htmlcov/
.pytest_cache/

# IDE / outils
.idea/
.vscode/
*.swp

# Données ou plots générés
plots/
data/
*.png
